.projects_container {
    position: relative;
    margin-top: 90vh;
    height: fit-content;
    width: 100%;
    padding-bottom: 100px;
    border-radius: 8px 8px 0 0;
    color: #222222;
    background-color: #f0f0f0 !important;

    &.dark {
        color: #f0f0f0;
        background-color: #111111 !important;
    }
    
    h3 {
        height: fit-content;
        padding: 16px;
        padding-top: 40px;
    }
    .projects {
        margin: 0 auto;
        min-height: 600px;
        width: 80%;
        max-width: 1200px;
        border: 1px solid #DDD;
        border-radius: 8px;
        z-index: 8;

    }
}
