$lightRed: #e22941;
$darkRed: #be3144;
$darkerRed: #7e1928;
// $darkerRed: #3e1017;
$lighterRed: #dfb5bb;

#projects_container {
    position: relative;
    margin-top: 100vh;
    height: fit-content;
    width: 100%;
    padding-bottom: 100px;
    border-radius: 8px 8px 0 0;
    color: #25252a;
    background-color: #e6e6e6 !important;
    animation: loading ease-in 800ms;

    &.hidden {
        opacity: 0;
    }

    &.dark {
        color: #e6e6e6;
        background-color: #25252a !important;

        h3 {
            color: #25252a;
            -webkit-text-stroke: 1px #e6e6e6;

            span {
                color: #e6e6e6;
                -webkit-text-stroke: unset;
            }
        }
    }
    
    h3 {
        height: fit-content;
        padding: 16px;
        padding-top: 40px;
        font-size: 20px;
        font-weight: 300;
        text-transform: uppercase;
        font-weight: bold;
        color: #e6e6e6;
        -webkit-text-stroke: 1px #222;
        
        span {
            display: none;
            text-transform: lowercase;
            font-size: 12px;
            font-weight: 400;
            letter-spacing: 2px;
            color: #222;
            padding-top: 4px;
            -webkit-text-stroke: unset;
        }
    }
    .projects {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        grid-gap: 36px;
        margin: 0 auto;
        min-height: 600px;
        width: 95%;
        max-width: 1250px;
        // border: 1px solid #DDD;
        // border-radius: 8px;
        z-index: 8;

    }
    @keyframes loading {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
    }
}

@media (max-width:1100px) {
    #projects_container {
        .projects {
            grid-template-columns: 1fr;
            max-width: 800px;
            // width: 95%;
        }
    }
}
@media (max-height:630px) {
    #projects_container {
        margin-top: 20px;
    }
}

@media (pointer: coarse) {
    #projects_container {
        h3 span {
            display: block;
        }
    }

}

