// reds
$lightRed: #e22941;
$darkRed: #be3144;
// $darkerRed: #7e1928;
$darkerRed: #3e1017;
$lighterRed: #dfb5bb;
// blues
$lightBlue: #2979e2;
$darkBlue: #333fb0;
// $darkerBlue: #19317e;
$darkerBlue: #10153e;
$lighterBlue: #b5bbdf;


#projects_container {
    position: relative;
    margin-top: 100vh;
    height: fit-content;
    min-height: 100vh;
    width: 100%;
    padding-bottom: 60px;
    // border-radius: 8px 8px 0 0;
    color: #25252a;
    background-color: #e6e6e6 !important;
    animation: loading ease-in 800ms;
    
    #work {
        scroll-margin-top: 0;
    }

    // &.hidden {
    //     // opacity: 0;
    // }

    &.dark {
        color: #e6e6e6;
        background-color: #25252a !important;

        h3 {
            // color: #25252a;
            -webkit-text-stroke: 1px $lightRed !important;
            color: $lightRed;
            // -webkit-text-stroke: unset !important\
            svg {
                color: #bbbbbb !important;
            }

        }
        .mobile-instr {
            color: #e6e6e6;
            -webkit-text-stroke: unset;
        }
        .all-projects {
            color: #e6e6e6;
        }
    }
    
    h3 {
        // height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;
        padding: 100px 16px;
        padding-bottom: 0;
        line-height: 26px;
        font-size: 30px;
        letter-spacing: 3px;
        text-transform: uppercase;
        font-weight: bold;
        color: $lightRed;
        -webkit-text-stroke: 1px $lightRed !important;
        // color: #555555;
        // -webkit-text-stroke: unset !important;
        
        svg {
            color: #555 !important;
            font-size: 20px;
        }
    }
    .mobile-instr {
        // display: none;
        text-transform: lowercase;
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 2px;
        color: #555;
        padding-top: 4px;
        padding-bottom: 40px;
        -webkit-text-stroke: unset;
    }
    .projects {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        align-items: start;
        grid-gap: 28px;
        margin: 0 auto;
        // min-height: 600px;
        // height: fit-content;
        width: 95%;
        max-width: 900px;
        // border: 1px solid #DDD;
        // border-radius: 8px;
        z-index: 8;

    }

    .all-projects {
        text-align: center;
        width: 100%;
        font-size: 16px;
        color: #222222;
        padding: 60px 0;
        font-weight: bold;
        text-transform: uppercase;
        transition: 200ms;
        &:hover {
            letter-spacing: 2px;
        }

    }

    @keyframes loading {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
    }
}

@media (max-width:1100px) {
    #projects_container {
        .projects {
            grid-template-columns: 1fr;
            max-width: 600px;
            // width: 95%;
        }
    }
}
@media (max-height:630px) {
    #projects_container {
        margin-top: 20px;
    }
}

@media (max-width: 450px) {
    #projects_container {
        h3 {
            font-size: 26px;
            line-height: 26px;
        }
    }

}
@media (pointer: coarse) {
    #projects_container {
        h3 {
            padding-bottom: 0 !important;
            // line-height: 0 !important;
        }
        .mobile-instr {
            display: block;
            padding-bottom: 40px;
        }
    }

}

