#projects_container {
    position: relative;
    margin-top: 100vh;
    height: fit-content;
    width: 100%;
    padding-bottom: 100px;
    border-radius: 8px 8px 0 0;
    color: #25252a;
    background-color: #e6e6e6 !important;
    animation: loading ease-in 800ms;

    &.hidden {
        opacity: 0;
    }

    &.dark {
        color: #e6e6e6;
        background-color: #25252a !important;

        h3 {
            color: #333333;
            -webkit-text-stroke: 1px #f0f0f0;
        }
    }
    
    h3 {
        height: fit-content;
        padding: 16px;
        padding-top: 40px;
        font-size: 28px;
        font-weight: 300;
        text-transform: uppercase;
        font-weight: bold;
        color: #f0f0f0;
        -webkit-text-stroke: 1px #25252a;
    }
    .projects {
        margin: 0 auto;
        min-height: 600px;
        width: 80%;
        max-width: 1200px;
        // border: 1px solid #DDD;
        // border-radius: 8px;
        z-index: 8;

    }
    @keyframes loading {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
    }
}
@media (max-height:630px) {
    #projects_container {
        margin-top: 20px;
    }
}

