#info_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: #22222220;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 300ms;

    &.open {
        display: flex;
        opacity: 1;
        animation: open ease-in 300ms;
    }
    &.closing {
        animation: close ease-in 300ms;
    }
    &.close {
        display: none;
        opacity: 0;
    }

    #info_container {
        height: fit-content;
        width: 50%;
        border: none;
        border-radius: 8px;
        padding: 40px;
        background-color: #d3d3d385 !important;
        backdrop-filter: blur(6px);
        color: #222222;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
        transition: 300ms;
        animation: open ease-in 300ms;
    
        .content {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            p {
                height: fit-content;
            }
            .info-img {
                width: 80px;
                height: 80px;
                border-radius: 16px;
                background-image: url(../../assets/images/tomando.gif);
                background-size: 100px 100px;
                background-position: top;
                background-repeat: no-repeat;
            }
        }
        button {
            position: absolute;
            top: 12px;
            right: 12px;
            height: fit-content;
            width: fit-content;
            background-color: transparent;
            border: none;
            &:hover{
                cursor: pointer;
            }
            svg {
                color: #444444;
            }
            &:focus {
                outline: none;
            }
        }
    }
    &.dark {
        background-color: #64646486 !important;

        #info_container {
            background-color: #22222270 !important;
    
    
            .content {
                p {
                    color: #f0f0f0 !important;
                }
            }
            button {
                svg {
                    color: #f0f0f0 !important;
                }
            }
        }

    }
    
    @media (max-width:440px) {
        #info_container {
            width: 90%;
        }
    }
    @keyframes open {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes close {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
}