// reds
$lightRed: #e22941;
$darkRed: #be3144;
// $darkerRed: #7e1928;
$darkerRed: #3e1017;
$lighterRed: #dfb5bb;
// blues
$lightBlue: #2979e2;
$darkBlue: #333fb0;
// $darkerBlue: #19317e;
$darkerBlue: #10153e;
$lighterBlue: #b5bbdf;

#info_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: #ffffff00;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 300ms;

    &.open {
        display: flex;
        opacity: 1;
        animation: open ease-in 500ms;
    }
    &.closing {
        animation: close ease-in 300ms;
    }
    &.close {
        display: none;
        opacity: 0;
    }

    #info_container {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 80%;
        max-width: 400px;
        border: none;
        border-radius: 0;
        padding:32px;
        padding-top: 18px;
        background-color: #d3d3d385 !important;
        backdrop-filter: blur(10px);
        color: #25252a;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // margin-bottom: 40px;
        transition: 300ms;
        animation: open ease-in 300ms;

        &.mobile {
            width: 100%;
            height: 100%;
            max-width: 100%;
            margin-bottom: 0;
            padding-top: 18px;
            // animation: slideLeft ease-in 300ms;

        }
        .toggles {
            // position: absolute;
            // top: 18px;
            // right: 20px;
            height: fit-content;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 20px;
            z-index: 99;
            width: 100%;
            svg {
                color: #222222;
                &:hover {
                    cursor: pointer;
                    animation: rotate ease-in-out 400ms;
                }
            }
            .toggle.dm {
                svg:hover {
                    animation: none !important;
                    transform: scale(1.2) !important;
                }
            }
        }

        .nav {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;
            height: fit-content;
            gap: 16px;

            a, p.contact {
                font-size: 1.7rem;
                height: fit-content;
                color: #222222 !important;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 8px;
                
                &:hover {
                    cursor: pointer;
                    letter-spacing: 2px;
                }
            }
            .ext {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                // gap: 8px;
                width: 100%;
                height: fit-content;
                a {
                    padding-bottom: 12px;
                }
            }
        }
    
        .content {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 24px;
            gap: 20px;
            width: 100%;
            p {
                height: fit-content;
                font-weight: 300px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 2px;
                a.underline {
                    border-bottom: 1px solid $lightRed;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 1px;
                    width: fit-content;
                    // text-decoration: underline;
                    // text-underline-offset: 4px;
                }
            }
            .icons {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: fit-content;
                gap: 12px;
                
                svg {
                    // background-color: transparent;
                    // border: 1.5px solid $lightRed;
                    border-radius: 50%;
                    height: 32px;
                    width: 32px;
                    font-size: 24px;
                    color: $lightRed;
                }
            }
            .info-img {
                width: 32px;
                height: 32px;
                border: 1.5px solid $lightRed;
                border-radius: 50%;
                background-image: url(../../assets/images/tomando.gif);
                background-size: 40px 40px;
                background-position: top;
                background-repeat: no-repeat;
            }
        }
        // button {
        //     position: absolute;
        //     top: 12px;
        //     right: 12px;
        //     height: fit-content;
        //     width: fit-content;
        //     background-color: transparent;
        //     border: none;
        //     &:hover{
        //         cursor: pointer;
        //     }
        //     svg {
        //         color: #444444;
        //     }
        //     &:focus {
        //         outline: none;
        //     }
        // }
    }
    &.dark {
        background-color: #00000000 !important;

        #info_container {
            background-color: #25252a70 !important;
    
    
            .content {
                p {
                    color: #ababab !important;
                    a {
                        color: #ababab !important;
                        &.underline {
                            border-bottom: 1px solid $lightRed;
                        }

                    }
                }
                .icons {
                    svg {
                        color: $lightRed;
                    }
                }
            }
            .toggles {
                svg {
                    color: #e6e6e6;
                }
            }
            .nav {
                a, p {
                    color: #e6e6e6 !important;
                }
            }
            .info-img {
                border-color: $lightRed;
            }
            // button {
            //     svg {
            //         color: #f0f0f0 !important;
            //     }
            // }
        }

    }
    
    @media (max-width:440px) {
        #info_container {
            width: 90%;
        }
    }
    @keyframes open {
        0% {
            transform: translateX(800px);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }
    @keyframes close {
        0% {
            transform: translateX(0);
            opacity: 1;
        }
        100% {
            transform: translateX(800px);
            opacity: 0;
        }
    }
    // @keyframes slideLeft {
    //     0% {
    //         transform: translateX(800px);
    //         opacity: 0;
    //     }
    //     100% {
    //         transform: translateX(0);
    //         opacity: 1;
    //     }
    // }
    @keyframes rotate {
        0% {
            transform: rotate(0);
        }
        100% {
            transform: rotate(180deg);
        }
    }
    @keyframes slightRotate {
        0% {
            transform: rotate(0);
        }
        50% {
            transform: rotate(25deg);
        }
        100% {
            transform: rotate(0);
        }
    }
}