// reds
$lightRed: #e22941;
$darkRed: #be3144;
// $darkerRed: #7e1928;
$darkerRed: #3e1017;
$lighterRed: #dfb5bb;
// blues
$lightBlue: #2979e2;
$darkBlue: #333fb0;
// $darkerBlue: #19317e;
$darkerBlue: #10153e;
$lighterBlue: #b5bbdf;

#info_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: #00000086;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 300ms;

    &.open {
        display: flex;
        opacity: 1;
        animation: open ease-in 300ms;
    }
    &.closing {
        animation: close ease-in 300ms;
    }
    &.close {
        display: none;
        opacity: 0;
    }

    #info_container {
        height: fit-content;
        width: 80%;
        max-width: 400px;
        border: none;
        border-radius: 8px;
        padding: 40px;
        background-color: #d3d3d385 !important;
        backdrop-filter: blur(6px);
        color: #25252a;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
        transition: 300ms;
        animation: open ease-in 300ms;

        &.mobile {
            width: 100%;
            height: 100%;
            max-width: 100%;
            margin-bottom: 0;
            padding-top: 60px;
            animation: slideLeft ease-in 300ms;

            .close {
                position: absolute;
                top: 18px;
                right: 34px;
                height: fit-content;
                svg {
                    color: #e6e6e6;
                }
            }

            .nav {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                height: fit-content;

                a, p {
                    font-size: 2rem;
                    height: fit-content;
                    color: #e6e6e6;
                }
            }
        }
    
        .content {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            p {
                height: fit-content;
                font-weight: 300px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 2px;
                a.underline {
                    border-bottom: 1px solid #333fb0c6;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 1px;
                    width: fit-content;
                    // text-decoration: underline;
                    // text-underline-offset: 4px;
                }
            }
            .icons {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 80%;
                gap: 12px;

                svg {
                    font-size: 24px;
                    color: $darkBlue;
                }
            }
            .info-img {
                width: 80px;
                height: 80px;
                border: 1.5px solid $darkBlue;
                border-radius: 50%;
                background-image: url(../../assets/images/tomando.gif);
                background-size: 100px 100px;
                background-position: top;
                background-repeat: no-repeat;
            }
        }
        // button {
        //     position: absolute;
        //     top: 12px;
        //     right: 12px;
        //     height: fit-content;
        //     width: fit-content;
        //     background-color: transparent;
        //     border: none;
        //     &:hover{
        //         cursor: pointer;
        //     }
        //     svg {
        //         color: #444444;
        //     }
        //     &:focus {
        //         outline: none;
        //     }
        // }
    }
    &.dark {
        background-color: #00000086 !important;

        #info_container {
            background-color: #25252a70 !important;
    
    
            .content {
                p {
                    color: #ababab !important;
                    a {
                        color: #ababab !important;

                    }
                }
            }
            // button {
            //     svg {
            //         color: #f0f0f0 !important;
            //     }
            // }
        }

    }
    
    @media (max-width:440px) {
        #info_container {
            width: 90%;
        }
    }
    @keyframes open {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes close {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    @keyframes slideLeft {
        0% {
            transform: translateX(800px);
        }
        100% {
            transform: translateX(0);
        }
    }
}