#card {
    position: relative;
    background-color: #e6e6e6 !important;
    animation: loading ease-in 800ms;
    height: fit-content;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    // margin: 12px 12px;
    overflow-x: hidden;

    &.hidden {
        opacity: 0;
    }

    .card-cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      min-height: 400px;
      // background-color: #dfb5bb;
      background-size: 200%;
      background-position: center;
      background-repeat: no-repeat;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 8px;
      padding: 12px;
      // border: 1px solid #dfb5bb;
      border-radius: 4px;
      animation: bgMove 120s linear infinite;
      // transition: opacity 1s;
      // z-index: -1;

      // &.selected {
      //   opacity: 0;
      // }

      p {
        color: transparent;
        text-transform: uppercase;
        letter-spacing: 4px;
        -webkit-text-stroke: 1px #e6e6e6;
        font-weight: bold;
        font-size: 36px;
      }
      .stack {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        svg {
          font-size: 20px;
          color: #e6e6e6;
        }
      }
    }

    .open-card {
      background-color: #e6e6e6;
      padding: 12px;
      height: 100%;
      min-height: 400px;
      z-index: 99;
      opacity: 0;
      transition: opacity 1s;

      a {
        pointer-events: none;
      }

      &.selected {
        opacity: 1;

        a {
          pointer-events: all;
        }
      }
    }

    &.dark {
      background-color: #25252a !important;

      .card-cover {
        // background-color: #500e18;
        // border-color: #500e18;
        p {
          text-transform: uppercase;
          letter-spacing: 4px;
          color: transparent;
          -webkit-text-stroke: 1px #e6e6e6;
        }
        .stack {
          svg {
            color: #e6e6e6;
          }
        }
      }

      .open-card {
        background-color: #25252a;
      }

      .project-title {
        color: #333333 !important;
        -webkit-text-stroke: 1px #f0f0f0;
      }
      .project-info {
        .cta {
          a {
            border-color: #f0f0f0 !important;
          }
        }
      }
    }
    .project-title {
      width: 100%;
      padding: 16px 0;
      font-size: 30px;
      color: #e6e6e6;
      -webkit-text-stroke: 1px #25252a;
    }
    .content {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      overflow-x: hidden;
    }

    &:first-child,
    &:nth-child(3),
    &:nth-child(5) {
      .card-cover {
        flex-direction: row;
        justify-content: center;
      }
      .project-title {
        text-align: left;
      }
      .content {
        flex-direction: row;
        .project-pics {
          justify-content: flex-start;
        }
      }
    }
    &:nth-child(2),
    &:nth-child(4),
    &:nth-child(6) {
      .card-cover {
        flex-direction: row-reverse;
        justify-content: center;
      }
      .project-title {
        text-align: right;
      }
      .content {
        flex-direction: row-reverse;
        .project-pics {
          justify-content: flex-end;
        }
      }
    }

    .project-pics {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 50%;
      
      .pic {
        width: 100px;
      }
    }

    .project-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;

      p {
        padding: 8px 8px 0 8px;
      }
      
      div {
        padding: 8px;

        .stack {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 16px;
          svg {
            font-size: 20px;
          }
        }
    
        .cta {
          padding: 16px 8px 8px 8px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 16px;
          a {
            padding: 8px 14px;
            border-radius: 8px;
            border: 1px solid #222;
          }
        }
      }
    }


  @keyframes loading {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
  }
  @keyframes bgMove {
    0% {
        background-position: top left;
        background-size: 200%;
      }
    50% {
      background-position: bottom right;
      background-size: 250%;
    }
    100% {
      background-position: top left;
      background-size: 200%;
    }
}

}