.card {
  background-color: #333333 !important;
    animation: loading ease-in 800ms;
    height: fit-content;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

    &.hidden {
        opacity: 0;
    }

    &.dark {
      .right {
        .cta {
          a {
            border-color: #f0f0f0 !important;
          }
        }
      }
    }

    &:first-child,
    &:nth-child(3),
    &:nth-child(5) {
      flex-direction: row;
      .left {
        h4 {
          text-align: left;
        }
        .project-pics {
          justify-content: start;
        }
      }
    }
    &:nth-child(2),
    &:nth-child(4),
    &:nth-child(6) {
      flex-direction: row-reverse;
      .left {
        h4 {
          text-align: right;
        }
        .project-pics {
          justify-content: end;
        }
      }
    }

    .left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;

      h4 {
        width: 100%;
        padding: 16px 0;
        font-size: 24px;
      }
      .project-pics {
        // height: 300px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;

        .pic {
          width: 100px;
        }
      }
      
    }

    .right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;

      p {
        padding: 8px 8px 0 8px;
      }
      
      div {
        padding: 8px;

        .stack {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 16px;
          svg {
            font-size: 20px;
          }
        }
    
        .cta {
          padding: 16px 8px 8px 8px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 16px;
          a {
            padding: 8px 14px;
            border-radius: 8px;
            border: 1px solid #222;
          }
        }
      }
    }


  @keyframes loading {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
  }
}