// reds
$lightRed: #e22941;
$darkRed: #be3144;
// $darkerRed: #7e1928;
$darkerRed: #3e1017;
$lighterRed: #dfb5bb;
// blues
$lightBlue: #2979e2;
$darkBlue: #333fb0;
// $darkerBlue: #19317e;
$darkerBlue: #10153e;
$lighterBlue: #b5bbdf;

#card {
    position: relative;
    background-color: transparent !important;
    // background-color: #d8d8d8 !important;
    animation: loading ease-in 800ms;
    height: 140px;
    // height: fit-content;
    // min-height: 0;
    // max-height: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    // margin: 12px 12px;
    overflow: hidden;
    border-radius: 8px;
    // border: 1px solid #2222228e;
    transition: 300ms !important;
    
    &:has(.selected) {
      height: 600px;
      min-height: 600px;
      max-height: 600px;
      // transition: 300ms !important;
      // animation: heightChange ease-in 300ms;
      .card-cover {
        .name-container {
          opacity: 0;
          transform: translateY(25px);
        }
      }
    }

    // &.scrolling {
    //   pointer-events: none;
    // }

    &.hidden {
        opacity: 0;
    }

    .card-cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // min-height: 140px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 8px;
      padding: 12px;
      border: 1px solid #999;
      border-radius: 8px;
      // animation: bgMove 120s linear infinite;
      filter: blur(0);
      transition: filter 1s;
      overflow: hidden;
      // z-index: -1;

      // &.selected {
      //   opacity: 0;
      // }

      .name-container {
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        height: fit-content;
        width: 100%;
        border-radius: 8px;
        // padding: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #e6e6e655;
        backdrop-filter: blur(12px);

        p {
          // color: transparent;
          text-transform: uppercase;
          letter-spacing: 0px;
          // -webkit-text-stroke: 1px #555555;
          font-weight: bold;
          font-size: 24px;
          color: #333333;
          -webkit-text-stroke: unset !important;
          // animation: slideDown ease-in 400ms;
        }
        .stack {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 16px;
          height: fit-content;
          margin-top: 6px;
          // animation: slideUp ease-in 400ms !important;
          svg {
            font-size: 28px;
            color: #555555;
          }
        }
      }

      &.on {
        filter: blur(0px);
        // .name-container {
        //   transform: translateX(0);
        //   animation: slideRight ease-in 400ms;
        // }
      }

      &.off {
        filter: blur(20px);
        // .name-container {
        //   transform: translateX(-100px);
        //   animation: slideLeft ease-in 400ms;
        // }
      }
    }
    .project-pics {
      opacity: 0;
      // transform: translateY(40px);
      pointer-events: none;
      // position: absolute;
      // bottom: -60px;
      // left: 50%;
      // transform: translateX(-50%);
      // transform: translate(-50%,40px);
      transform: translateY(100px);
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 70%;
      z-index: 9;
      transition: 300ms;
      
      .pic {
        width: 100px;
        height: 190px;

        &.wide {
          width: 222px;
          height: 160px;
          border-radius: 4px;
        }

        &.chat1 {
          margin-right: 8px;
          border-radius: 4px;
        }
      }
    }

    .open-card {
      // scroll-margin-top: 10px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      background-color: #e6e6e6;
      background-size: 200%;
      background-position: center;
      background-repeat: no-repeat;
      padding: 12px;
      border-radius: 8px;
      height: 100%;
      // height: fit-content;
      width: 100%;
      overflow: hidden;
      min-height: 600px;
      z-index: 99;
      opacity: 0;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
      transition: 1s !important;
      animation: bgMove 120s linear infinite;
      filter: blur(20px);

      .grain {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        pointer-events: none;
        z-index: 300;
        transform: translateZ(0);

        &:before {
            content: "";
            top: -10rem;
            left: -10rem;
            width: calc(100% + 20rem);
            height: calc(100% + 20rem);
            z-index: 9999;
            position: fixed;
            background-image: url(../../assets/images/grain_bg.png);
            -webkit-animation: noise 1s steps(2) infinite;
            animation: noise 1s steps(2) infinite;
            opacity: 0.15;
            pointer-events: none;
        }
      }

      .minimize {
        height: fit-content;
        width: 100%;
        z-index: 9999;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        p {
          &:hover {
            cursor: pointer;
          }
        }
      }

      a {
        opacity: 0;
        pointer-events: none;
        transform: translateY(40px);
        transition: 1s !important;
      }

      &.selected {
        opacity: 1;
        filter: blur(0);

        &.cta {
          // height: fit-content;
          a {
            // height: fit-content;
            opacity: 1;
            pointer-events: all;
            transform: translateY(0);
            z-index: 99;
          }
          .project-pics {
            opacity: 1;
            pointer-events: all;
            transform: translateY(0);
            // animation: picsSlideUp ease-in 300ms;
            // animation-delay: 200ms;
          }
        }
      }
    }

    &.dark {
      // background-color: #323239 !important;
      // border-color: #e6e6e68e;

      .card-cover {
        // background-color: #500e18;
        // border-color: #500e18;
        border-color: #e6e6e655;
        .name-container {
          background-color: #2222222d;
          p {
            text-transform: uppercase;
            letter-spacing: 0px;
            color: #e6e6e6;
            -webkit-text-stroke: unset !important;
            // color: transparent;
            // -webkit-text-stroke: 1px #e6e6e6;
          }
          .stack {
            svg {
              color: #e6e6e6;
            }
          }
        }
      }

      .open-card {
        background-color: #25252a;

        .content {
          color: #e6e6e6 !important;
        }
      }

      .project-title {
        height: fit-content;
        // color: #333333 !important;
        // -webkit-text-stroke: 1px #f0f0f0;
        color: #e6e6e6 !important;
        -webkit-text-stroke: unset !important;
      }
      .project-info {
        .cta {
          height: fit-content;
          a {
            background-color: #25252a21 !important;
            border-color: #f0f0f0 !important;
          }
        }
      }
    }
    .project-title {
      height: 70px;
      width: 100%;
      padding: 16px 0;
      font-size: 28px;
      text-align: center;
      // color: transparent;
      // -webkit-text-stroke: 1px #222222;
      color: #333333 !important;
      -webkit-text-stroke: unset !important;
      cursor: default;
    }
    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items:center;
      color: #222222;
      width: 100%;
      overflow-x: hidden;

      .project-info {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        overflow: hidden;
         p {
          cursor: default;
         }

         .more {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
         }
      }
    }

    &:first-child,
    &:nth-child(3),
    &:nth-child(5) {
      .card-cover {
        flex-direction: row;
        justify-content: space-evenly;
      }
      // .project-title {
      //   // text-align: left;
      // }
      .content {
        flex-direction: row;
      }
    }
    &:nth-child(2),
    &:nth-child(4),
    &:nth-child(6) {
      .card-cover {
        flex-direction: row-reverse;
        justify-content: space-evenly;
      }
      // .project-title {
      //   // text-align: right;
      // }
      .content {
        flex-direction: row-reverse;
      }
    }

    .project-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;

      p {
        padding: 8px 8px 0 8px;
      }
      
      div {
        padding: 8px;

        .stack {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 16px;
          padding: 20px 0;
          height: 70px;
          // height: fit-content;
          svg {
            font-size: 28px;
          }
        }
    
        .cta {
          padding: 16px 8px 8px 8px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 16px;
          height: 70px;
          // height: fit-content;
          a {
            padding: 12px 14px;
            border-radius: 8px;
            color: #222222;
            border: 1px solid #222222;
            min-width: 130px;
            // height: 37.5px;
            transition: 400ms !important;
            background-color: #e6e6e621;
            backdrop-filter: blur(12px) !important;

            &:hover {
              // color: #be3144 !important;
              // font-size: 20px;
              border-color: $lightRed !important;
              background-color: $lightRed !important;
            }
          }
        }
      }
    }

  &.Travel {
    .content .cta a.web:not(.over)::after {
      content: 'Journal';
    }
  }
  &.Bicho {
    .content .cta a.web:not(.over)::after {
      content: "Bot's profile";
    }
  }
  &.Web {
    .content .cta a.web:not(.over)::after {
      content: 'Chat!';
    }
  }
  &.Ally {
    .content .cta a.web:not(.over)::after {
      content: 'Check it out';
    }
  }
  &.News {
    .content .cta a.web:not(.over)::after {
      content: 'Browse';
    }
  }
  &.Rubber {
    .content .cta a.web:not(.over)::after {
      content: 'Try it!';
    }
  }

  @keyframes loading {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
  }
  @keyframes bgMove {
    0% {
        background-position: top left;
        background-size: 200%;
      }
    50% {
      background-position: bottom right;
      background-size: 250%;
    }
    100% {
      background-position: top left;
      background-size: 200%;
    }
  }
  @keyframes slideLeft {
    0% {
      transform: translateX(0);
    }
    0% {
      transform: translateX(-100px);
    }
  }
  @keyframes slideRight {
    0% {
      transform: translateX(-100px);
    }
    0% {
      transform: translateX(0);
    }
  }
  @keyframes slideLeft2 {
    0% {
      transform: translateX(100px);
    }
    0% {
      transform: translateX(0);
    }
  }
  @keyframes slideRight2 {
    0% {
      transform: translateX(0);
    }
    0% {
      transform: translateX(100px);
    }
  }

  @keyframes slideUp {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100px);
    }
  }
  @keyframes slideDown {
    0% {
      transform: translateY(-100px);
    }
    100% {
      transform: translateY(0);
    }
  }
  // @keyframes picsSlideUp {
  //   0% {
  //     opacity: 0;
  //     transform: translateY(100px);
  //   }
  //   100% {
  //     opacity: 1;
  //     transform: translateY(0);
  //   }
  // }
  // @keyframes heightChange {
  //   0% {
  //     height: 140px;
  //     // min-height: unset;
  //     // max-height: unset;
  //   }
  //   100% {
  //     height: 400px;
  //     // min-height: 400px;
  //     // max-height: 400px;
  //   }
  // }
  @-webkit-keyframes noise {
    to { transform: translate3d(-7rem,0,0) }
  }

  @keyframes noise {
      0% { transform: translate3d(0,9rem,0) }
      10% { transform: translate3d(-1rem,-4rem,0) }
      20% { transform: translate3d(-8rem,2rem,0) }
      30% { transform: translate3d(9rem,-9rem,0) }
      40% { transform: translate3d(-2rem,7rem,0) }
      50% { transform: translate3d(-9rem,-4rem,0) }
      60% { transform: translate3d(2rem,6rem,0) }
      70% { transform: translate3d(7rem,-8rem,0) }
      80% { transform: translate3d(-9rem,1rem,0) }
      90% { transform: translate3d(6rem,-5rem,0) }
      to { transform: translate3d(-7rem,0,0) }
  }

  @media (max-width: 700px) {
    &:has(.selected) {
      height: 500px;
      min-height: 500px;
      max-height: 500px;
      
      .open-card {
        height: 500px;
        min-height: 500px;
        max-height: 500px;
      }
    }
    .card-cover {
      .name-container {
        p {
          font-size: 22px !important;
        }
        .stack {
          svg {
            font-size: 22px;
          }
        }
      }
    }
  }
  
  @media (max-width: 600px) {
    &:has(.selected) {
      height: 550px;
      min-height: 550px;
      max-height: 550px;
      
      .open-card {
        height: 550px;
        min-height: 550px;
        max-height: 550px;

        .project-title {
          font-size: 24px;
        }
        .content {
          .project-info {
            p {
              font-size: 13px;
            }
          }
        }
      }
      .project-pics {
        // bottom: -60px;
        .pic {
          height: 172px;
          width: 90px;
          &.wide {
            height: 150px;
            width: 180px;
          }
        }
      }
    }
    .card-cover {
      flex-direction: column !important;
      .name-container {
        height: fit-content;
        // padding: 24px 0;
      }
    }
  }
}