#card {
    position: relative;
    background-color: #e6e6e6 !important;
    animation: loading ease-in 800ms;
    height: fit-content;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    // margin: 12px 12px;
    overflow-x: hidden;

    &.hidden {
        opacity: 0;
    }

    .card-cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      min-height: 400px;
      // background-color: #dfb5bb;
      // background-size: 200%;
      // background-position: center;
      // background-repeat: no-repeat;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 8px;
      padding: 12px;
      // border: 1px solid #dfb5bb;
      border-radius: 8px;
      animation: bgMove 120s linear infinite;
      filter: blur(0);
      transition: filter 600ms;
      overflow: hidden;
      // z-index: -1;

      // &.selected {
      //   opacity: 0;
      // }

      .name-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
     
        p {
          color: transparent;
          text-transform: uppercase;
          letter-spacing: 4px;
          -webkit-text-stroke: 1px #222222;
          font-weight: bold;
          font-size: 36px;
          // animation: slideDown ease-in 400ms;
        }
        .stack {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 16px;
          // animation: slideUp ease-in 400ms !important;
          svg {
            font-size: 28px;
            color: #222222;
          }
        }
      }

      &.off {
        filter: blur(20px);
        p {
          // animation: slideUp ease-in 400ms;
          // transform: translateY(-40px) rotateX(90deg);
          // span.stack {
          //   animation: slideDown ease-in 400ms !important;
          // }
        }
      }
    }
    .project-pics {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 50%;
      
      .pic {
        width: 100px;
      }
    }

    .open-card {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      background-color: #e6e6e6;
      background-size: 200%;
      background-position: center;
      background-repeat: no-repeat;
      padding: 12px;
      border-radius: 8px;
      height: 100%;
      width: 100%;
      overflow: hidden;
      min-height: 400px;
      z-index: 99;
      opacity: 0;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
      transition: opacity filter 2s !important;
      filter: blur(20px);

      a {
        opacity: 0;
        pointer-events: none;
        transform: translateY(40px);
        transition: 500ms !important;
      }

      &.selected {
        opacity: 1;
        filter: blur(0);

        a {
          opacity: 1;
          pointer-events: all;
          transform: translateY(0);
        }
      }
    }

    &.dark {
      background-color: #25252a !important;

      .card-cover {
        // background-color: #500e18;
        // border-color: #500e18;
        .name-container {
          p {
            text-transform: uppercase;
            letter-spacing: 4px;
            color: transparent;
            -webkit-text-stroke: 1px #e6e6e6;
          }
          .stack {
            svg {
              color: #e6e6e6;
            }
          }
        }
      }

      .open-card {
        background-color: #25252a;
      }

      .project-title {
        color: #333333 !important;
        -webkit-text-stroke: 1px #f0f0f0;
      }
      .project-info {
        .cta {
          a {
            border-color: #f0f0f0 !important;
          }
        }
      }
    }
    .project-title {
      width: 100%;
      padding: 16px 0;
      font-size: 30px;
      text-align: center;
      color: transparent;
      -webkit-text-stroke: 1px #e6e6e6;
    }
    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items:center;
      color: #e6e6e6;
      width: 100%;
      overflow-x: hidden;

      .project-info {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
      }
    }

    &:first-child,
    &:nth-child(3),
    &:nth-child(5) {
      .card-cover {
        flex-direction: row;
        justify-content: space-evenly;
      }
      .project-title {
        // text-align: left;
      }
      .content {
        flex-direction: row;
        .project-pics {
          justify-content: flex-start;
        }
      }
    }
    &:nth-child(2),
    &:nth-child(4),
    &:nth-child(6) {
      .card-cover {
        flex-direction: row-reverse;
        justify-content: space-evenly;
      }
      .project-title {
        // text-align: right;
      }
      .content {
        flex-direction: row-reverse;
        .project-pics {
          justify-content: flex-end;
        }
      }
    }

    .project-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;

      p {
        padding: 8px 8px 0 8px;
      }
      
      div {
        padding: 8px;

        .stack {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 16px;
          padding: 20px 0;
          svg {
            font-size: 28px;
          }
        }
    
        .cta {
          padding: 16px 8px 8px 8px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 16px;
          a {
            padding: 8px 14px;
            border-radius: 8px;
            color: #e6e6e6;
            border: 1px solid #e6e6e6;
            min-width: 130px;
            height: 37.5px;
            transition: 100ms;

            &:hover {
              // color: #be3144 !important;
              // font-size: 20px;
              // background-color: #94434e8a;
            }
          }
        }
      }
    }


  @keyframes loading {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
  }
  @keyframes bgMove {
    0% {
        background-position: top left;
        background-size: 200%;
      }
    50% {
      background-position: bottom right;
      background-size: 250%;
    }
    100% {
      background-position: top left;
      background-size: 200%;
    }
  }

  // @keyframes slideUp {
  //   0% {
  //     // transform: translateY(0) rotateX(0);
  //     filter: blur(0);
  //   }
  //   100% {
  //     // transform: translateY(-40px) rotateX(90deg);
  //     filter: blur(20px);
  //   }
  // }
  // @keyframes slideDown {
  //   0% {
  //     // transform: translateY(-40px) rotateX(90deg);
  //     filter: blur(20px);
  //   }
  //   100% {
  //     // transform: translateY(0) rotateX(0);
  //     filter: blur(0);
  //   }
  // }

  @media (max-width: 700px) {
    .card-cover {
      .name-container {
        p {
          font-size: 22px !important;
        }
        .stack {
          svg {
            font-size: 22px;
          }
        }
      }
    }
  }
  @media (max-width: 600px) {
    .card-cover {
      flex-direction: column !important;
    }
  }
}