
:root {
    --sz: 0.8rem;
    --on: #0df403;
    --of: #fff0;
    --gr: #666666;
    --tr: all 0.5s ease 0s;
    --lg: var(--of);
    --gr1: #131313;
    --gr2: #272727;
    --gr3: #3e3d3d;
    --tx: #ffffffd1;
}

// Reflect container styles -------------------------
.reflect-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

// Header styles -------------------------
.reflect-container .reflect-header {
    // position: absolute;
    // top: 0;
    // left: 50%;
    // transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    height: fit-content;
    width: 100%;
    padding: 0.5rem 2rem 0.5rem 1rem;
    background-color: #00000020;
    backdrop-filter: blur(3px);
    z-index: 1000;

    .text {
        color: var(--tx);
        display: flex;
        gap: 0.5rem;
        align-items: center;
        font-size: 0.8rem;
        font-weight: 700;
    }

    .left {
        h1.text {
            font-size: 1rem;
        }
        h3.text {
            font-size: 0.6rem;
        }
    }

    .right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 0.5rem;
    }
}

.reflect-container .starting-indicator {
    // margin-left: 1rem;
    width: 1rem;
    height: 1rem;
    border: 2px solid rgba(244, 244, 244, 0.2);
    border-top-color: var(--tx);
    border-radius: 50%;
    animation: spin 0.6s linear infinite;
    z-index: 10;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.reflect-container .toggle {
    position: relative;
    width: calc(var(--sz) * 4);
    height: calc(var(--sz) * 2);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

     * {
        cursor: pointer !important;
    }
}

.reflect-container input {
    display: none;
}

.reflect-container label[for=btn] {
    position: absolute;
    width: calc(var(--sz) * 4);
    height: calc(var(--sz) * 2);
    background: linear-gradient(0deg, var(--gr1), var(--gr2));
    border-radius: var(--sz);
    box-shadow: 0 0 calc(var(--sz) / 50) calc(var(--sz) / 50) #0006, 0 -4px calc(var(--sz) / 10) calc(var(--sz) / 500) #0b0b10, 0 0px calc(var(--sz) / 10) calc(var(--sz) / 50) #95959588, 0 -4px calc(var(--sz) / 5) calc(var(--sz) / 50) #1c1c1ccc;
}

.reflect-container .thumb {
    position: absolute;
    width: calc(calc(var(--sz) * 2) - calc(var(--sz) / 8));
    height: calc(calc(var(--sz) * 2) - calc(var(--sz) / 8));
    top: calc(calc(var(--sz) / 10) + calc(var(--sz) / -20));
    left: calc(calc(var(--sz) / 10) + calc(var(--sz) / -30));
    background:
        radial-gradient(circle at 48% 50%, #fff0 calc(var(--sz) / 1.05), var(--lg) calc(var(--sz) / 0.99)),
        radial-gradient(circle at 40% 50%, #fff0 calc(var(--sz) / 0.95), var(--lg) calc(var(--sz) / 0.75)),
        linear-gradient(180deg, var(--gr3), var(--gr2));
    border-radius: var(--sz);
    box-shadow:
        calc(var(--sz) / -50) calc(var(--sz) / 50) calc(var(--sz) / 30) 0 #fff2 inset,
        0 0 calc(var(--sz) / 10) calc(var(--sz) / 50) #000c,
        0 calc(var(--sz) / 3) calc(var(--sz) / 3) 0 #000d;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
}

.reflect-container #btn:checked+label .thumb {
    --lg: var(--on);
    transition: var(--tr);
    left: calc(calc(100% - calc(calc(var(--sz) * 2) - calc(var(--sz) / 3))) - calc(calc(var(--sz) / 10) + calc(var(--sz) / 5.75)));

}

.reflect-container .thumb:before {
    content: "";
    position: absolute;
    width: calc(var(--sz) / 0.5);
    height: calc(var(--sz) / 0.5);
    background: radial-gradient(circle at 45% 50%, #fff0 calc(var(--sz) / 1), var(--lg) calc(var(--sz) / 0.95));
    filter: blur(1px);
}

.reflect-container .light {
    position: absolute;
    width: calc(var(--sz) * 1);
    height: calc(var(--sz) / 1.75);
    right: calc(var(--sz) * -2.75);
    display: flex;
    justify-content: center;
    z-index: 1;
    background: #121212;
    position: relative;
    width: calc(var(--sz) / 1.75);
    height: calc(var(--sz) / 1.75);
    border-radius: var(--sz);
    box-shadow:
        0 0px calc(var(--sz) / 50) calc(var(--sz) / 50) #0008,
        0 -4px calc(var(--sz) / 10) calc(var(--sz) / 500) #000,
        0 2px calc(var(--sz) / 10) calc(var(--sz) / 500) #fff8,
        0 0px calc(var(--sz) / 20) calc(var(--sz) / 25) #000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--tr);
}

.reflect-container .light:before {
    content: "";
    transition: var(--tr);
    width: calc(100% - calc(var(--sz) / 15));
    height: calc(100% - calc(var(--sz) / 15));
    position: absolute;
    background: radial-gradient(circle at 50% 32%, #fff5 0 calc(var(--sz) / 20), #000 calc(var(--sz) / 3) calc(var(--sz) / 3));
    border-radius: var(--sz);
    box-shadow:
        0 0 calc(var(--sz) / 3) 0 #003ef520,
        0 0 calc(var(--sz) / 3) calc(var(--sz) / 20) #003ef520 inset;
}

.reflect-container #btn:checked+label+.light:before {
    --lg: var(--on);
    transition: var(--tr);
    box-shadow:
        0 0 calc(var(--sz) / 2.5) 0 var(--lg),
        0 0 calc(var(--sz) / 3) calc(var(--sz) / 20) var(--lg) inset,
        0 calc(var(--sz) / -20) calc(var(--sz) / 10) calc(var(--sz) / 10) #000c inset;
    background: radial-gradient(circle at 50% 32%, #fff 0 calc(var(--sz) / 20), var(--lg) calc(var(--sz) / 3) calc(var(--sz) / 3));
}

// Content section styles -------------------------
.reflect-container .reflect-content {
    flex-grow: 1;
    width: 100vw;
    height: 100vh;
    background-color: black;
    overflow: hidden;
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;

    canvas {
        cursor: grab;

        &:active {
            cursor: grabbing;
        }
    }
}

// Footer styles -------------------------
.reflect-container .reflect-footer {
    // position: absolute;
    // bottom: 0;
    // left: 50%;
    // transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // gap: 0.5rem;
    width: 100%;
    padding: 0.5rem 2rem 0.5rem 1rem;
    height: fit-content;
    background-color: #00000020;
    backdrop-filter: blur(3px);
    z-index: 1000;

    .top {
        text-align: center;
    }
    
    .bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.1rem;
        width: 100%;
        flex-wrap: wrap;
    }

    .text {
        color: var(--tx);
        font-size: 0.6rem;
        font-weight: 700;
        display: flex;
        align-items: center;

        a {
            margin-left: 0.2rem;
            color: var(--tx);
            text-decoration: none;
            transition: color 0.3s ease;
            display: flex;
            align-items: center;

            &:hover {
                color: #fff;
            }
        }

        &.logos {
            a {
                text-decoration: none; 
                transition: color 0.3s ease;

                &:hover {
                    color: #fff
                }
            }
        }
    }
}