// reds
$lightRed: #e22941;
$darkRed: #be3144;
// $darkerRed: #7e1928;
$darkerRed: #3e1017;
$lighterRed: #dfb5bb;
// blues
$lightBlue: #2979e2;
$darkBlue: #333fb0;
// $darkerBlue: #19317e;
$darkerBlue: #10153e;
$lighterBlue: #b5bbdf;

$animationSpeed: 30s;

@keyframes scroll-left {
	0% { transform: translateX(0); }
	50% { transform: translateX(-30%)}
	100% { transform: translateX(0)}
}
@keyframes scroll-right {
	0% { transform: translateX(-30%)}
	50% { transform: translateX(0); }
	100% { transform: translateX(-30%)}
}
@keyframes scroll-left-med {
	0% { transform: translateX(0); }
	50% { transform: translateX(-100%)}
	100% { transform: translateX(0)}
}
@keyframes scroll-right-med {
	0% { transform: translateX(-100%)}
	50% { transform: translateX(0); }
	100% { transform: translateX(-100%)}
}
@keyframes scroll-left-small {
	0% { transform: translateX(0); }
	50% { transform: translateX(-200%)}
	100% { transform: translateX(0)}
}
@keyframes scroll-right-small {
	0% { transform: translateX(-200%)}
	50% { transform: translateX(0); }
	100% { transform: translateX(-200%)}
}

@mixin white-gradient {
	// background: linear-gradient(to right,  #e6e6e6 0%,#22222200 100%);
	background: linear-gradient(to right,  #22222200 0%,#22222200 100%);
}
@mixin black-gradient {
	// background: linear-gradient(to right,  #222222 0%,#22222200 100%);
	background: linear-gradient(to right,  #22222200 0%,#22222200 100%);
}

#skills {
    scroll-margin-top: 64px;
}

.skills-container {
    background-color: transparent !important;
    // overflow: hidden;
    width: 100%;

    h3.title {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
        padding: 40px 16px !important;
        padding-bottom: 0 !important;
        text-align: center;
        width: 100%;
        color: #e6e6e6;
        -webkit-text-stroke: 1px #555555;
    }
    .mobile-instr {
        display: block !important;
        color: #555;
        -webkit-text-stroke: #555 !important;
    }

    .skills {
        background-color: transparent !important;
        max-width: 1300px;
        margin: 0 auto;

        .skill-types {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 12px;
            margin-top: 12px;
            margin-bottom: 12px;
            p {
                color: #333333;
                width: 100px;
                padding: 12px 8px;
                border: 1px solid #666666;
                border-radius: 8px;
                font-size: 12px;

                &.on {
                    border-color: $lightRed;
                    background-color: $lightRed !important;
                    color: #e6e6e6;
                }

                &:hover {
                    cursor: pointer;
                }

            }
        }

        .frontend,
        .backend,
        .other {
            position: relative;
            padding: 16px 0;
            .code-container {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 90%;
                height: fit-content;
                background-color: transparent;
                z-index: 9;
                //  & * {
                //     -webkit-text-stroke: unset !important;
                //  }
            }
            .type {
                opacity: 0;
                margin:  0 auto;
                color: #333333 !important;
                font-size: 14px;
                font-weight:400;
                width: fit-content;
                min-width: 50%;
                line-height: 24px;
                text-align: start;
                // z-index: 1;
                -webkit-text-stroke: 1px #333333 !important;
                background-color: #c8c8c890;
                backdrop-filter: blur(12px);
                padding: 12px;
                border-radius: 6px;
                transition: 600ms;
                // padding-top: 40px;
                // letter-spacing: 2px;
                // color: #555555;
                &.on {
                    opacity: 1;
                }
                .gray {
                    color: #999999 !important;
                    -webkit-text-stroke: 0px #999999 !important;
                }
            }

            .skillset {
                // display: flex;
                // flex-direction: row;
                // justify-content: space-around;
                // align-items: center;
                // gap: 12px;
                // width: 200%;
                background-color: transparent !important;
                position: relative;

                background: #e6e6e6;
                height: 60px;
                margin: auto;
                overflow:hidden;
                position: relative;
                width: 100%;
                
                &::before,
                &::after {
                    @include white-gradient;
                    content: "";
                    height: 60px;
                    position: absolute;
                    width: 200px;
                    z-index: 2;
                }
                
                &::after {
                    right: 0;
                    top: 0;
                    transform: rotateZ(180deg);
                }

                &::before {
                    left: 0;
                    top: 0;
                }
                
                .skillset-track {
                    display: flex;
                    align-items: center;
                    // width: calc(250px * 14);
                    width: 100%;
                    &.front {
                        animation: scroll-left $animationSpeed linear infinite;
                    }
                    &.back {
                        animation: scroll-right $animationSpeed linear infinite;
                    }
                    &.other {
                        animation: scroll-left $animationSpeed linear infinite;
                    }
                }
                
                .skill {
                    height: 40px;
                    width: 40px;
                    margin: 0 40px;
                    
                    svg {
                        height: 40px;
                        width: 40px;
                        color: #555555;
                    }
    
                    p {
                        font-size: 10px;
                        font-weight: 300;
                        color: #555555;
                        letter-spacing: 1px;
                        width: 100%;
                        text-align: center;
                        transition: 300ms !important;
                    }
                }
            }
        }

    }
    
    &.dark {
        background-color: transparent !important;
        color: #222222;
        // -webkit-text-stroke: 1px #e6e6e6;

        .title {
            color: #222222;
            -webkit-text-stroke: 1px #e6e6e6;
        }
    
        .skills {
            background-color: transparent !important;

            .skill-types {
                p {
                    color: #e6e6e6;

                    &.on {
                        border-color: $lightRed;
                        background-color: $lightRed !important;
                    }
                }
            }

            .frontend,
            .backend,
            .other {
    
                .type {
                    color: #e6e6e6 !important;
                    -webkit-text-stroke: 1px #e6e6e6 !important;
                    background-color: #51515a90;
                    
                    .gray {
                        color: #999999 !important;
                        -webkit-text-stroke: 0px #999999 !important;
                    }
                }
    
                .skillset {
                    background: #222222;
                    &::before,
                    &::after {
                        @include black-gradient;
                    }
                    .skill {
    
                        svg {
                            color: #e6e6e6;
                        }
    
                        p {
                            color: #e6e6e6;
                        }
                    }
                }
            }
    
        }
    }
    @media (max-width: 900px) {
        .skills {
            .skillset {
                .skill {
                    height: 30px !important;
                    width: 30px !important;
                    margin: 0 30px !important;
                    
                    svg {
                        height: 30px !important;
                        width: 30px !important;
                    }
                }
            }
        }
    }
    @media (max-width: 600px) {
        .skills {
            .skillset {
                .skillset-track {
                    &.front {
                        animation: scroll-left-med $animationSpeed linear infinite !important;
                    }
                    &.back {
                        animation: scroll-right-med $animationSpeed linear infinite !important;
                    }
                    &.other {
                        animation: scroll-left-med $animationSpeed linear infinite !important;
                    }
                }
            }
        }
    }
    @media (max-width: 460px) {
        .skills {
            .skillset {
                .skillset-track {
                    &.front {
                        animation: scroll-left-small $animationSpeed linear infinite !important;
                    }
                    &.back {
                        animation: scroll-right-small $animationSpeed linear infinite !important;
                    }
                    &.other {
                        animation: scroll-left-small $animationSpeed linear infinite !important;
                    }
                }
            }
        }
    }
}