.follow-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: transparent !important;
    border: 1px solid #00000080 !important;
    border-radius: 50%;
    pointer-events: none;
    transition: ease-in-out;
    z-index: 9999;
    
    &.light {
        border-color: #ffffff60 !important;

        .follow-circle-small{
            background-color: #f0f0f0d0 !important;
            svg {
              color: #222222;
            }
        }
      
      &.contact,
      &.external  {
        background-color: transparent !important;

        .follow-circle-small{
          background-color: #f0f0f0 !important;

          svg {
            color: #222222 !important;
          }
        }
      }
    }
    
    &.clicked {
        animation: pulseAnimation 500ms ease-in-out;
    }

    .follow-circle-small {
        position: fixed;
        background-color: #000000b0;
        border-radius: 50%;
        pointer-events: none;
        transition: ease-in-out;
        z-index: 99;
        
        &.clicked {
            animation: pulseAnimationSmall 500ms ease-in-out;
        }
    }

    &.contact,
    &.external { 
      transition: 200ms;

      .follow-circle-small {
        position: relative;
        background-color: #333333 !important;
        transform: scale(2);
        animation: bounce 500ms ease-in;
        padding: 4px;
        background-color: #f0f0f0;
        
        &.clicked {
          animation: none;
        }
        
        svg {
          color: #f0f0f0 !important;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
        }
      }
    }
}

@keyframes pulseAnimation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.6);
    }
    100% {
      transform: scale(1);
    }
}
@keyframes pulseAnimationSmall {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(3);
    }
    100% {
      transform: scale(1);
    }
}
@keyframes pulseAnimationSmallIcon {
    0% {
      transform: scale(2);
    }
    50% {
      transform: scale(4);
    }
    100% {
      transform: scale(2);
    }
}

@keyframes bounce {
  0% {
    transform: scale(2);
  }
  25% {
    transform: scale(2.8);
  }
  50% {
    transform: scale(2);
  }
  75% {
    transform: scale(2.4);
  }
  100% {
    transform: scale(2);
  }
}