.follow-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: transparent;
    border: 2px solid #00000060;
    border-radius: 50%;
    pointer-events: none;
    transition: ease-in-out;
    z-index: 99;
    
    &.clicked {
        animation: pulseAnimation 500ms ease-in-out;
    }

    .follow-circle-small {
        position: fixed;
        background-color: #00000060;
        border-radius: 50%;
        pointer-events: none;
        transition: ease-in-out;
        z-index: 99;
        
        &.clicked {
            animation: pulseAnimationSmall 500ms ease-in-out;
        }
    }
}

@keyframes pulseAnimation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.6);
    }
    100% {
      transform: scale(1);
    }
}
@keyframes pulseAnimationSmall {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(3);
    }
    100% {
      transform: scale(1);
    }
}