// reds
$lightRed: #e22941;
$darkRed: #be3144;
// $darkerRed: #7e1928;
$darkerRed: #3e1017;
$lighterRed: #dfb5bb;
// blues
$lightBlue: #2951e2;
$darkBlue: #333fb0;
// $darkerBlue: #19317e;
$darkerBlue: #10153e;
$lighterBlue: #b5bbdf;

$white: #ffffffa5;
$whiter: #FFFFFF;

$black: #222222a5;
$blacker: #222222;

.follow-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: transparent !important;
    border: 1px solid $white !important;
    border-radius: 50%;
    pointer-events: none;
    transition: border ease-in-out 300ms;
    z-index: 9999;
    
    &.light {
        border-color: $white !important;

        .follow-circle-small{
            background-color: $whiter !important;
            svg {
              color: $lightBlue;
            }
        }

      &#loading {
        border-color: white !important;
        border-right: 2px solid $lightBlue !important;
        animation: circleLoad linear 1s;
        &.follow-circle-small {
          animation: rotate linear 1s;
        }
      }
      
      &.contact,
      &.project,
      &.github,
      &.web,
      &.external {
        background-color: transparent !important;
        transition: 200ms;

        .follow-circle-small{
          background-color: $whiter !important;

          svg {
            color: $lightBlue !important;
          }
        }
      }
      &.button {
        border-width: 2px !important;
        border-color: $lightBlue !important;
        transition: 200ms;
        .follow-circle-small {
          display: none;
        }
      }
    }
    
    &.clicked {
        animation: pulseAnimation 500ms ease-in-out;
    }

    .follow-circle-small {
        position: fixed;
        background-color: $white;
        border-radius: 50%;
        pointer-events: none;
        transition: ease-in-out;
        z-index: 99;
        
        &.clicked {
            animation: pulseAnimationSmall 500ms ease-in-out;
        }
    }

    &.contact,
    &.project,
    &.external { 
      transition: 200ms;

      .follow-circle-small {
        position: relative;
        background-color: $whiter !important;
        transform: scale(2);
        animation: bounce 500ms ease-in;
        padding: 4px;
        // background-color: #f0f0f0;
        
        &.clicked {
          animation: none;
        }
        
        svg {
          color: $lightBlue !important;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
        }
      }
    }

    &.github,
    &.web {
      .follow-circle-small {
        position: relative;
        background-color: $whiter !important;
        transform: scale(2);
        animation: bounce2 500ms ease-in;
        padding: 4px;
        // background-color: #f0f0f0;
        
        &.clicked {
          animation: none;
        }
        
        svg {
          color: $lightBlue !important;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
        }
      }
    }
    &.button {
      border-width: 2px !important;
      border-color: $white !important;
      transition: 200ms;

      .follow-circle-small {
        display: none;
      }
    }

    &.black {
      border-color: $black !important;
      
      .follow-circle-small {
        background-color: $black !important;
      }
      &.contact,
      &.external,
      &.project {
        border-color: $black !important;
        // background-color: transparent !important;
        // transition: 200ms;

        .follow-circle-small{
          background-color: $blacker !important;

          svg {
            color: $whiter !important;
          }
        }
      }
      &.button {
        border-color: $lightBlue !important;
      }
      &#loading {
        border-color: $black !important;
        border-right: 2px solid $lightBlue !important;
        animation: circleLoad linear 1s;
        &.follow-circle-small {
          animation: rotate linear 1s;
        }
      }
    }
}

@keyframes pulseAnimation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.6);
    }
    100% {
      transform: scale(1);
    }
}
@keyframes pulseAnimationSmall {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(3);
    }
    100% {
      transform: scale(1);
    }
}
@keyframes pulseAnimationSmallIcon {
    0% {
      transform: scale(2);
    }
    50% {
      transform: scale(4);
    }
    100% {
      transform: scale(2);
    }
}

@keyframes bounce {
  0% {
    transform: scale(2);
  }
  25% {
    transform: scale(2.8);
  }
  50% {
    transform: scale(2);
  }
  75% {
    transform: scale(2.4);
  }
  100% {
    transform: scale(2);
  }
}
@keyframes bounce2 {
  0% {
    transform: scale(2);
  }
  25% {
    transform: scale(2.8);
  }
  50% {
    transform: scale(2);
  }
  75% {
    transform: scale(2.4);
  }
  100% {
    transform: scale(2);
  }
}
@keyframes circleLoad {
  0% {
    // border-color: white !important;
    // border-right-color: #be3144 !important;
    transform: rotate(0deg);
  }
  // 25% {
  //   border-color: white !important;
  //   // border-bottom-color: #be3144 !important;
  //   transform: rotate(0deg);
  // }
  // 50% {
  //   border-color: white !important;
  //   // border-left-color: #be3144 !important;
  //   transform: rotate(0deg);
  // }
  // 75% {
  //   border-color: white !important;
  //   // border-top-color: #be3144 !important;
  //   transform: rotate(0deg);
  // }
  100% {
    // border-color: white !important;
    // border-left-color: #be3144 !important;
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

