// reds
$lightRed: #e22941;
$darkRed: #be3144;
// $darkerRed: #7e1928;
$darkerRed: #3e1017;
$lighterRed: #dfb5bb;
// blues
$lightBlue: #2979e2;
$darkBlue: #333fb0;
// $darkerBlue: #19317e;
$darkerBlue: #10153e;
$lighterBlue: #b5bbdf;

#more {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff00;
    opacity: 0;
    transition: 400ms;
    
    .more-container {
        height: 80%;
        width: 500px;
        max-width: 90%;
        border-radius: 8px;
        background-color: #e6e6e6ac;
        backdrop-filter: blur(12px);
        padding: 16px;
        transform: scale(0.8);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        
        .more-title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: fit-content;
            color: #333333;
            padding: 8px 0;
            // margin-bottom: 16px;
            
            svg {
                color: $lightRed;
                font-size: 26px;
            }
        }
        .more-content {
            overflow-y: scroll;
        }
        .close-more {
            padding: 8px 12px;
            color: $lightRed;

            &:hover {
                cursor: pointer;
            }
        }
    }

    &.dark {
        background-color: #00000000 !important;
        .more-container {
            background-color:#35363bac;
    
            .more-title {
                color: #e6e6e6;
            }
        }
    }

    &.on {
        opacity: 1;
        .more-container {
            transform: scale(1);
        }
    }
}