#about_container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 100px;
    color: #25252a;
    animation: loading ease-in 800ms;

    background-color: #e6e6e6;
    // opacity: 1;
    // background-image:  radial-gradient(#000000 0.6000000000000001px, transparent 0.6000000000000001px), radial-gradient(#000000 0.6000000000000001px, #ffffff 0.6000000000000001px);
    // background-size: 24px 24px;
    // background-position: 0 0,12px 12px;

    &.hidden {
        opacity: 0;
    }

    .content {
        margin: 0 auto;
        width: 100%;
        max-width: 1100px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        margin-top: 20px;

        .me-img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 100px;
            height: 100px;
            border-radius: 50%;
            // background-image: url(../../assets/images/tomando-jugo.gif);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            // margin-bottom: 40%;
        }

        .special {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // margin-bottom: 20px;
            // height: 50%;
            // width: 50%;
            height: fit-content;
            z-index: 1;
            height: 432px;
            width: 314px;

            // .name-img {
            //     background-image: url(../../assets/images/name_w.png);
            //     background-size: contain;
            //     background-repeat: no-repeat;
            //     background-position: center;
            //     height: 432px;
            //     width: 314px;
            //     margin: 0;
            // }
            p {
                width: 100%;
                height: fit-content;
                line-height: 18px;

                &.big {
                    color: #dfb5bb;
                    text-align: left;
                    font-size: 120px;
                    line-height: 100px;
                    font-weight: bold;
                    white-space: initial;
                    word-wrap: break-word;
                    -webkit-text-stroke: 1.5px #25252a;
                    // text-shadow: -1px 0 #f0f0f0, 0 1px #f0f0f0, 1px 0 #f0f0f0, 0 -1px #f0f0f0;
                    // font-family: 'VT323', monospace;
                    span {
                        line-height: 8px;
                        font-size: 12px;
                        color: #25252a;
                        font-weight: 400;
                        -webkit-text-stroke: 0px;
                    }

                    &.highlight-s {
                        -webkit-text-stroke: 1.5px #e22941 !important;
                    }
                }
                &.small {
                    font-size: 12px;
                    color: #25252a;
                    padding: 4px 0;

                    &.hello {
                        text-align: start;
                        padding-left: 12px;
                    }
                    &.name {
                        text-align: end;
                        padding-right: 12px;
                    }
                }
            }
        }

        .divider {
            width: 314px;
            height: 8px;
            border-top: 0.5px solid #25252a;
            margin-top: 10px;
            margin-bottom: 16px;
            z-index: 1;
        }
        
        .text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: fit-content;
            gap: 30px;
            margin-bottom: 40px;
            z-index: 1;
            // height: 50%;
            p {
                height: fit-content;
                // text-transform: uppercase;
                font-size: 12px;

                span.bold {
                    color: #555555 !important;
                }
            }
        }
    }
    &.dark {
        color: #FFFFFF;
        
        .special {
            p {
                &.big {
                    color: #3e1017 !important;
                    -webkit-text-stroke: 1.5px #f0f0f0;
                    span {
                        color: #f0f0f0;
                    }

                    &.highlight-s {
                        -webkit-text-stroke: 1.5px #be3144 !important;
                    }
                }
                &.small {
                    color: #f0f0f0;
                }
            }
        }
        .divider {
            border-top: 0.5px solid #f0f0f0;
        }

        .text {
            p {
                span.bold {
                    color: #e6e6e6 !important;
                }
            }

        }
        // background-color: #25252a;
        // opacity: 1;
        // background-image:  radial-gradient(#797979 0.6000000000000001px, transparent 0.6000000000000001px), radial-gradient(#797979 0.6000000000000001px, #222222 0.6000000000000001px);
        // background-size: 24px 24px;
        // background-position: 0 0,12px 12px;
    }

    h1,p {
        font-weight: 300;
    }

    @keyframes loading {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
    }

    
}
@media (max-width:780px) {
    #about_container {
        .content {
            .special {
                // width: 55%;
            }
            .divider {
                // width: 55%;
            }
        }
    }
}
@media (max-width:440px) {
    #about_container {
        padding: 25px;
        .content {
            .special {
                // width: 80%;
            }
            .divider {
                // width: 80%;
            }
        }
    }
}
@media (max-height:630px) {
    #about_container {
        position: initial;
        padding-top: 4px;
        height: fit-content;
        .content {
            opacity: 1 !important;
            height: fit-content;
        }
    }
}
@media (max-height:667px) {
    #about_container {
        padding-top: 4px;
        // position: absolute;
        .content {
            margin-top: 0;
        }
    }
}
@media (min-height:800px) and (min-width: 600px) {
    #about_container {
        .content {
            justify-content: center;
            margin-bottom: 80px;
            .special {
                height: 640px;
                width: 465px;
                .big {
                    font-size: 180px !important;
                    line-height: 148px !important;
                }
            }
            .divider {
                width: 465px;
            }
        }
    }
}
