.about_container {
    margin-top: 64px;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 100px;
    color: #222222;
    animation: loading ease-in 800ms;

    background-color: #f0f0f0;
    // opacity: 1;
    // background-image:  radial-gradient(#000000 0.6000000000000001px, transparent 0.6000000000000001px), radial-gradient(#000000 0.6000000000000001px, #ffffff 0.6000000000000001px);
    // background-size: 24px 24px;
    // background-position: 0 0,12px 12px;

    &.hidden {
        opacity: 0;
    }

    .content {
        margin: 0 auto;
        width: 100%;
        max-width: 1100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;

        // .img {
        //     width: 200px;
        //     height: 200px;
        //     background-image: url(../../assets/svgs/dev.svg);
        //     background-size: contain;
        //     background-position: center;
        //     background-repeat: no-repeat;
        //     margin-bottom: 40%;
        // }

        .special {
            // margin-bottom: 20px;
            // height: 50%;
            width: 50%;
            height: fit-content;
            p {
                width: 100%;
                height: fit-content;
                &.big {
                    color: #f0f0f0;
                    text-align: left;
                    font-size: 120px;
                    line-height: 100px;
                    font-weight: bold;
                    white-space: initial;
                    word-wrap: break-word;
                    -webkit-text-stroke: 1px #222222;
                    // text-shadow: -1px 0 #f0f0f0, 0 1px #f0f0f0, 1px 0 #f0f0f0, 0 -1px #f0f0f0;
                    // font-family: 'VT323', monospace;
                    span {
                        line-height: 8px;
                        font-size: 12px;
                        color: #222222;
                        font-weight: 400;
                        -webkit-text-stroke: 0px;
                    }
                }
                &.small {
                    font-size: 12px;
                    color: #222222;
                    padding: 4px 0;

                    &.hello {
                        text-align: start;
                        padding-left: 12px;
                    }
                    &.name {
                        text-align: end;
                        padding-right: 12px;
                    }
                }
            }
        }

        .divider {
            width: 50%;
            height: 8px;
            border-top: 0.5px solid #222222;
            margin-bottom: 16px;
        }
        
        .text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: fit-content;
            gap: 30px;
            margin-bottom: 40%;
            // height: 50%;
            p {
                height: fit-content;
                text-transform: uppercase;
                font-size: 12px;

            }
        }
    }
    &.dark {
        color: #FFFFFF;
        
        .special {
            p {
                &.big {
                    color: #222222;
                    -webkit-text-stroke: 1px #f0f0f0;
                    span {
                        color: #f0f0f0;
                    }
                }
                &.small {
                    color: #f0f0f0;
                }
            }
        }
        .divider {
            border-top: 0.5px solid #f0f0f0;
        }

        .text {

        }
        // background-color: #222222;
        // opacity: 1;
        // background-image:  radial-gradient(#797979 0.6000000000000001px, transparent 0.6000000000000001px), radial-gradient(#797979 0.6000000000000001px, #222222 0.6000000000000001px);
        // background-size: 24px 24px;
        // background-position: 0 0,12px 12px;
    }

    h1,p {
        font-weight: 300;
    }

    @keyframes loading {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
    }

    
}
@media (max-width:780px) {
    .about_container {
        .content {
            .special {
                width: 55%;
            }
            .divider {
                width: 55%;
            }
        }
    }
}
@media (max-width:440px) {
    .about_container {
        padding: 25px;
        .content {
            .special {
                width: 80%;
            }
            .divider {
                width: 80%;
            }
        }
    }
}
