.about_container {
    margin-top: 64px;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    color: #222222;
    animation: loading ease-in 800ms;

    // background-color: #ffffff;
    // opacity: 1;
    // background-image:  radial-gradient(#000000 0.6000000000000001px, transparent 0.6000000000000001px), radial-gradient(#000000 0.6000000000000001px, #ffffff 0.6000000000000001px);
    // background-size: 24px 24px;
    // background-position: 0 0,12px 12px;

    &.hidden {
        opacity: 0;
    }

    &.dark {
        color: #FFFFFF;

        // background-color: #222222;
        // opacity: 1;
        // background-image:  radial-gradient(#797979 0.6000000000000001px, transparent 0.6000000000000001px), radial-gradient(#797979 0.6000000000000001px, #222222 0.6000000000000001px);
        // background-size: 24px 24px;
        // background-position: 0 0,12px 12px;
    }
    .content {
        margin: 0 auto;
        width: 80%;
        max-width: 1100px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100%;
        
        .img {
            width: 200px;
            height: 200px;
            background-image: url(../../assets/svgs/dev.svg);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            margin-bottom: 40%;
        }
        .text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: fit-content;
            gap: 30px;
            margin-bottom: 40%;
            p {
                height: fit-content;

            }
        }

    }

    h1,p {
        font-weight: 300;
    }

    @keyframes loading {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
    }
}
