// reds
$lightRed: #e22941;
$darkRed: #be3144;
$bgRed: #950014;
// $darkerRed: #7e1928;
$darkerReder: #670b0b;
$darkerRed: #3e1017;
$lighterRed: #d897a1;
// blues
$lightBlue: #2979e2;
$darkBlue: #333fb0;
// $darkerBlue: #19317e;
$darkerBlue: #10153e;
$lighterBlue: #b5bbdf;

$bgDark: #25252a;

#about_container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // margin-top: 64px;
    height: 100%;
    // width: 1100px;
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 0;
    padding-top: 70px !important;
    color: #222222;
    // background-color: #e6e6e6;
    background-color: transparent;
    background-image: url(../../assets/images/coding.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom left;
    animation: loading ease-in 800ms;
    filter: invert(100%);
    -webkit-filter: invert(100%);

    .shw {
        animation: slideDo ease-in 600ms;
    }

    .content {
        filter: invert(100%);
        -webkit-filter: invert(100%);
        margin: 0;
        // width: 100%;
        width: 1100px;
        max-width: 1100px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        margin-top: 20px;

        .special {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: fit-content;
            z-index: 1;
            height: 432px;
            width: 314px;
            width: 100%;
            // background-color: #e6e6e6;
            background-color: transparent !important;
            p {
                width: 100%;
                height: fit-content;
                line-height: 18px;
                &.big.first {
                    // background-color: #e6e6e6;
                    position: relative;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
                    span.letter {
                        font-family: 'Poppins', sans-serif;
                        font-weight: bold;
                        position: relative;
                        width: 78px !important;

                        &.faded {
                            opacity: 0.35;
                            color: transparent !important;
                        }
                        &.flip {
                            animation: flip 1.8s ease-in-out !important;
                        }
                    }
                }
                &.big.last {
                    // background-color: #e6e6e6;
                    position: relative;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;;
                    span.letter {
                        font-family: 'Poppins', sans-serif;
                        font-weight: bold;
                        position: relative;
                        width: 100px !important;

                        &.faded {
                            opacity: 0.35;
                            color: transparent !important;
                            animation: faded 1s ease-in;
                        }
                        &.flip {
                            animation: flip 1.8s ease-in-out !important;
                        }
                        .me-img {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                            width: 50%;
                            height: 50%;
                            border-radius: 50%;
                            background-image: url(../../assets/images/me-img.png);
                            background-size: cover;
                            background-position: center;
                            background-repeat: no-repeat;
                        }
                    }
                }

                &.big span.letter{
                    text-align: center !important;
                    color: transparent;
                    text-align: left;
                    font-size: 120px;
                    line-height: 100px;
                    font-weight: bold;
                    white-space: initial;
                    word-wrap: break-word;
                    -webkit-text-stroke: 1.5px #222222;
                    span {
                        line-height: 8px;
                        font-size: 12px;
                        color: #25252a;
                        font-weight: 400;
                        -webkit-text-stroke: 0px;
                    }

                    &.highlight-s {
                        font-family: 'Poppins', sans-serif;
                        color: transparent !important;
                        font-weight: bold !important;
                        -webkit-text-stroke: 2px $lightRed !important;
                                                
                        &:before {
                            content: "";
                            z-index: -1;
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            background: linear-gradient(-45deg, #8f000005 0%, #b0333305 100% );
                            transform: translate3d(0px, 20px, 0) scale(0.95);
                            filter: blur(20px);
                            opacity: var(0.7);
                            transition: opacity 0.3s;
                            border-radius: inherit;
                        }
                        &::after {
                            content: "";
                            z-index: -1;
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            background: inherit;
                            border-radius: inherit;
                        }
                    }
                    &.blur-in {
                        animation: BlurAnimation 1s ease-in;
                    }
                    &.blur-out {
                        opacity: 0;
                        filter: blur(72px);
                        transition: 1s;
                    }
                }
                &.small {
                    font-size: 12px;
                    color: #222222;
                    padding: 4px 0;
                    text-align: center;
                    letter-spacing: 4px;
                }
                &.big {
                    pointer-events: none;
                    user-select: none;
                    background-color: transparent !important;
                }
            }
        }

        .divider {
            width: 90%;
            max-width: 314px;
            height: 8px;
            border-top: 0.5px solid #222222;
            margin-top: 10px;
            margin-bottom: 2px;
            z-index: 1;
        }
        
        .text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: fit-content;
            letter-spacing: 1px;
            gap: 4px;
            margin-bottom: 40px;
            width: 90%;
            max-width: 314px;
            z-index: 1;

            &.shw {
                animation: slideUe ease-in 600ms;
            }

            p {
                height: fit-content;
                font-size: 12px;
                line-height: 20px;
                font-weight: 300;
                &:hover{
                    cursor: default;
                }

                span.bold {
                    padding: 2px;
                    color: #222222 !important;
                }
                span.more {
                    color: $lighterRed;
                    font-weight: bold;
                    letter-spacing: 1px;
                    padding: 4px 8px;

                    svg {
                        height: fit-content;
                    }
                    &:hover {
                        cursor: pointer;
                        color: $lightRed;
                    }
                }
            }
        }
    }
    &.dark {
        // background-color: $bgDark !important;
        background-color: transparent !important;
        color: #FFFFFF;
        filter: invert(0%);
        -webkit-filter: invert(0%);
        .content {
            filter: invert(0%);
            -webkit-filter: invert(0%);
        }
        .special {
            // background-color: #25252a;
            p {
                &.big {
                    // background-color: #25252a !important;
                }
                &.big span.letter{
                    color: transparent !important;
                    -webkit-text-stroke: 1.5px #f0f0f0;
                    span {
                        color: #f0f0f0;
                    }
                    &.blur-in {
                        animation: BlurAnimation 1s ease-in;
                    }
                    &.blur-out {
                        opacity: 0;
                        filter: blur(72px);
                        transition: 1s;
                    }
                }
                &.small {
                    color: #f0f0f0;
                }
            }
        }
        .divider {
            border-top: 0.5px solid #f0f0f0;
        }

        .text {
            p {
                span.bold {
                    color: #e6e6e6 !important;
                }
            }
        }
        .scroll-ind {
            filter: invert(0%);
            -webkit-filter: invert(0%);
            .int {
                border-color: #e6e6e6 !important;
                svg {
                    color: #e6e6e6 !important;
                }

            }
        }
    }

    .scroll-ind {
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        height: 60px;
        width: 20px;
        filter: invert(100%);
        -webkit-filter: invert(100%);
        opacity: 0.9;
        
        .int {
            border-radius: 12px;
            border: 1px solid #222;
            height: 23px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            animation: scroll-ind ease-in-out 4s infinite;
            svg {
                height: 20px;
                color: #222;
            }
        }
    }

    h1,p {
        font-weight: 300;
    }

    @keyframes scroll-ind {
        0% {
            height: 23px;
        }
        25% {
            height: 60px;
        }
        50% {
            height: 23px;
        }
        100% {
            height: 23px;
        }
    }
    @keyframes scroll-ind-small {
        0% {
            height: 23px;
        }
        25% {
            height: 40px;
        }
        50% {
            height: 23px;
        }
        100% {
            height: 23px;
        }
    }

    @keyframes loading {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
    }
    @keyframes BlurAnimation {
        0% {
            opacity: 0;
            filter: blur(70px);
        }
        50% {
            opacity: 1;
            filter: blur(10px);
        }
        100% {
            opacity: 1;
            filter: none;
        }
    }
    @keyframes BlurOutAnimation {
        0% {
            opacity: 1;
            filter: none;
        }
        50% {
            opacity: 1;
            filter: blur(10px);
        }
        100% {
            opacity: 0;
            filter: blur(70px);
        }
    }
    @keyframes faded {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 0.35;
        }
    }
    @keyframes flip {
        0% {
            transform: rotateY(0);
        }
        100% {
            transform: rotateY(360deg);
        }
    }
    @keyframes slideDo {
        0% {
            opacity: 0;
            transform: translateY(-30px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
    @keyframes slideUe {
        0% {
            opacity: 0;
            transform: translateY(30px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

@media (max-width:440px) {
    #about_container {
        padding: 25px;
    }
}
@media (min-height:1000px) and (min-width: 600px) {
    #about_container {
        .content {
            justify-content: center;
            margin-bottom: 80px;
            .special {
                height: 640px;
                // width: 465px;
                .big {
                    font-size: 180px !important;
                    line-height: 148px !important;
                }
            }
            .divider {
                width: 465px;
            }
        }
    }
}
@media (max-height:940px) {
    #about_container {
        .content {
            .text {
                p {
                    font-size: 10px;
                }
            }
        }
    }
}
@media (max-height:767px) {
    #about_container {
        padding-top: 50px;
        .content {
            margin-top: 0;
            .text {
                p {
                    font-size: 10px;
                }
            }
        }
    }
}
@media (max-height:740px) {
    #about_container {
        padding-top: 50px;
        .content {
            margin-top: 0;
            .text {
                p {
                    font-size: 10px;
                }
            }
        }
    }
}
@media (max-height:730px) {
    #about_container {
        .scroll-ind {
            height: 40px;
            .int {
                animation: scroll-ind-small ease-in-out 4s infinite !important;
            }
        }
    }
}
@media (max-height:700px) {
    #about_container {
        .scroll-ind {
            display: none;
        }
    }
}
@media (any-hover: none) {
    span.letter {
        &.blur-in {
            animation: none !important;
        }
        &.blur-out {
            opacity: 1 !important;
            filter: none !important;
            transition: none !important;
            animation: none !important;
        }
    }
}
