// reds
$lightRed: #e22941;
$darkRed: #be3144;
// $darkerRed: #7e1928;
$darkerRed: #3e1017;
$lighterRed: #dfb5bb;
// blues
$lightBlue: #2979e2;
$darkBlue: #333fb0;
// $darkerBlue: #19317e;
$darkerBlue: #10153e;
$lighterBlue: #b5bbdf;

#header_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 64px;
    z-index: 999;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 8px 20px;
    background-color: $darkBlue !important;
    backdrop-filter: blur(10px) !important;
    animation: loading ease-in 800ms;
    
    &.hdr {
        background-color: transparent !important;
    }
    // &.hidden {
    //     // opacity: 0;
    // }

    .header-logo {
        color: $lighterBlue;
        -webkit-text-stroke: 1px $lightBlue !important;
        font-size: 30px;
        font-weight: bold;
        height: fit-content;
        opacity: 0;
        -webkit-user-select: none;  
        -moz-user-select: none;    
        -ms-user-select: none;  
        user-select: none; 

        &.show {
            opacity: 1;
            animation: show 500ms ease-in;
        }

        // background-image: url(../../assets/images/lr_logo_w.png);
        // // background-image: url(../../assets/images/lr_logo_b.png);
        // background-size: contain;
        // background-position: center;
        // background-repeat: no-repeat;
        // width: 40px;
        // height: 40px;
    }
    .header-right {
        .contact-opts {
            a {
                color: #e6e6e6 !important;
                svg {
                    color: #e6e6e6 !important;  
                }
            }
        }
        &.show {
            svg {
                color: #25252a !important;
            }
            .contact-opts {
                a {
                    color: #25252a !important;
                    svg {
                        color: #25252a !important;
                    }
                }
            }
            .divider {
                border-left: 1px solid #25252a3f !important;
            }
        }

    }
    svg {
        color: #e6e6e6;

    }
    
    &.dark {
        background-color: $darkBlue !important;
        backdrop-filter: blur(10px) !important;

        &.hdr {
            background-color: transparent !important;
        }
        button {
            color: #f0f0f0;
        }
        svg {
            color: #FFFFFF;
        }
        
        .header-logo {
            color: $darkerBlue;
            -webkit-text-stroke: 1px $lightBlue !important;

            // background-image: url(../../assets/images/lr_logo_b.png);
            // background-image: url(../../assets/images/lr_logo_w.png);
        }

        .header-right {
            .contact-opts {
                a {
                    color: #FFFFFF;
                    svg {
                        color: #FFFFFF;
                    }
                }
            }

            &.show {
                svg {
                    color: #e6e6e6 !important;
                }
                .contact-opts {
                    a {
                        color: #e6e6e6 !important;
                        svg {
                            color: #e6e6e6 !important;
                        }
                    }
                }
                .divider {
                    border-left: 1px solid #f0f0f03f !important;
                }
            }
        }

        .divider {
            border-left: 1px solid #f0f0f03f !important;
        }
    }

    p {
        height: 30px;
        padding: 0 16px;
    }

    .header-right {
        display: flex;
        justify-content: center;
        align-items: center;

        .contact-opts {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: fit-content;
            gap: 16px;

            a {
                color: #25252a;
                svg {
                    color: #25252a;

                }
            }

            &.out {
                opacity: 0;
                transform: translateX(20px);
                transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
            }
            &.entered {
                opacity: 1;
                transform: translateX(0);
                transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
            }
        }
        button {
            height: 30px;
            width: 80px;
            background: none;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            &.open {
                width: 40px;
                svg {
                    animation: rotate-in 300ms ease-in;
                }
            }
            &.closed {
                svg {
                    animation: rotate-out 200ms ease-in;
                }

            }
        }
        .divider {
            // border-left: 1px solid #25252a3f;
            border-left: 1px solid #f0f0f03f;
            height: 28px;
            width: 12px;
            margin-left: 12px;
        }
        .info {
            margin-left: 16px;
            margin-bottom: 4px;
            &.mobile {
                margin-left: 2px;
            }
            &:hover {
                cursor: pointer;
            }
        }
        .toggle {
            margin-bottom: 4px;
            &:hover {
                cursor: pointer;
            }
        }
    }
    @keyframes rotate-in {
        0% {
            transform: rotate(90deg);
        }
        100% {
            transform: rotate(0);
        }
    }
    @keyframes rotate-out {
        0% {
            transform: rotate(-90deg);
        }
        100% {
            transform: rotate(0);
        }
    }
    @keyframes loading {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
    }
    @keyframes show {
        0% {
            opacity: 0;
            transform: scale(0.8);
        }
        50% {
            opacity: 0.6;
            transform: scale(1.1);
        }
        100% {
            opacity: 1;
            transform: scale(1);
        }
    }
}
