@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&family=Source+Code+Pro:wght@200&display=swap');
/* 

// reds
$lightRed: #e22941;
$darkRed: #be3144;
// $darkerRed: #7e1928;
$darkerRed: #3e1017;
$lighterRed: #dfb5bb;

// blues
$lightBlue: #2979e2;
$darkBlue: #333fb0;
// $darkerBlue: #19317e;
$darkerBlue: #10153e;
$lighterBlue: #b5bbdf;

*/

*,html,body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Poppins', sans-serif;
  /* font-family: 'VT323', monospace; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  transition: 300ms;
  scroll-behavior: smooth;
}
html {
  background-color: #333fb0;
}
html.dark {
  background-color: #333fb0 !important;
}
html:not(.App.hidden) {
  animation: loading ease-in 800ms;
}
body {
  background-color: #333fb0;
}
body.dark {
  background-color: #333fb0 !important;
}
code {
  font-family: 'Source Code Pro', monospace;
}
  .code {
  font-family: 'Source Code Pro', monospace !important;
}

a {
  text-decoration: none;
  color: #25252a;
}
p {
  height: fit-content;
}

.bold {
  font-weight: bold;
}

.dark {
  background-color: #25252a !important;
  color: #f0f0f0;
}

.dark a {
  color: #f0f0f0 !important;
}

.hidden {
  display: none;
}

.highlight {
  color: #333fb0 !important;
}
.highlight-s {
  -webkit-text-stroke: 1.5px #333fb0 !important;
}

@keyframes loading {
  0% {
    background-color: #e6e6e6 !important;
  }
  100% {
    background-color: #333fb0 !important;
  }
}
@keyframes loadingDark {
  0% {
    background-color: #25252a !important;
  }
  100% {
    background-color: #333fb0 !important;
  }
}